/*Universal selector*/

* {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Element selectors*/

body {
    background-color:darkseagreen
    
}



h1,
h2,
h3   {
   color: whitesmoke ; 
   text-align:center;
   
}


p,
figcaption {
    color: whitesmoke;
    text-align: center;
    
}

header {
    position: relative;
    width: block;
    padding: 10px;
    background-color: rgb(223, 236, 33) ;
}


nav ul li {
    display: inline;
    right: 100px;
    position: absolute;
    top: 190px;
 }


 label {
    width:240px;
    display:inline-block;
    text-align: right;
    color:white;
    margin-left: 350px;
}

footer {
    position:relative;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    background-color: rgb(223, 236, 33);
}


/*Class selectors for the main image*/

.center {
    display: block;
    margin-left:auto;
    margin-right:auto;
    
}

